@import "tailwindcss";

* {
  box-sizing: border-box;
}

body * {
  color: "#efefef";
}

body {
  background: #efefef;
}

p {
  letter-spacing: 0.025em;
}

@media (min-width: 768px) {
  p {
    font-size: 1.25rem;
  }
}
